@(user: ch.japanimpact.auth.api.UserProfile, eventName: String, staffNum: Int)

@template("Candidature acceptée", user) {

    <p>
        Nous sommes heureux de vous annoncer que votre candidature en tant que staff à @eventName a bien été acceptée.<br>
    Durant Japan Impact, vous serez le staff <b>#@staffNum</b>.<br>
    Vous pourrez trouver toutes sortes d'informations sur l'intranet staff et sur nos différents medias (réseaux sociaux, site, ...). En cas de
    question, n'hésitez pas à nous contacter via <a href="mailto:staff@@japan-impact.ch">staff@@japan-impact.ch</a>. <br>A très vite!</p>
    
}